.selectAvatarContainer {
  position: absolute; 
  top: 20px;
  right: 24px;
  
  .selectedAvatar {
    width: 50px;
    cursor: pointer;
  }
}

.popoverContent {
  display: flex;
  gap: 0.5rem;

  .imageOption {
    width: 50px;
    cursor: pointer;
  }
}

.modalContentWaitingPlayerContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .playerContainer {
    background-color: #232323;
    gap: 0.5rem;  
    border-radius: 0.5rem;
    padding: 0.5rem;
    position: relative;
    overflow: hidden;
  
    &:hover {
      filter: brightness(1.1);
    }

    .owner {
      position: absolute;
      top: 0.25rem;
      right: -1rem;
      padding: 0 1rem;
      font-size: 0.8rem;
      background-color: #7c6e14;
      transform: rotate(45deg);
    }
  }
}