.player {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);

  border: solid 4px black;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
}
